*
!.gitignore
!README.md
!setup_ubuntu.sh
!setup_windows.bat
!setup_windows.ps1

!problem1-log-file-manager
!problem1-log-file-manager/**
!problem2-circular-buffer
!problem2-circular-buffer/**
!problem3-parallel-processor
!problem3-parallel-processor/**
!problem4-restful-api-server
!problem4-restful-api-server/**

problem1-log-file-manager/build
problem1-log-file-manager/logs/*.log
problem1-log-file-manager/**/*.md
problem2-circular-buffer/build
problem2-circular-buffer/**/*.md
problem3-parallel-processor/build
problem3-parallel-processor/**/*.md
problem4-restful-api-server/.venv
problem4-restful-api-server/__pycache__
problem4-restful-api-server/app/__pycache__
problem4-restful-api-server/*.db
problem4-restful-api-server/.env
problem4-restful-api-server/**/*.md
problem4-restful-api-server/.gitignore
